{% load static %}
<div class="section animated-row" data-section="servicos">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    <span>Serviços</span>
                    <h2>O que faço?</h2>
                </div>
                <div class="services-section">
                    <div class="services-list owl-carousel">
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-desktop"
                                        aria-hidden="true"></i></span>
                                <h3>Websites - One Page</h3>
                                <p>Sites One Page ultiliza a mesma página para mostrar todo o seu conteúdo de uma empresa ou orgão, trata-se da aplicação do layout em uma única página web. </p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-laptop"
                                        aria-hidden="true"></i></span>
                                <h3>Websites - Dynamic</h3>
                                <p>O site dinâmico permite que sejam feitas alterações em seus conteúdos ao longo do tempo. As mudanças são feitas nos textos, 
                                    abas e links, de forma simples e sem que haja alterações no código fonte, 
                                    ou seja, a programação utilizada para o site funcionar</p>
                            </div>
                        </div>
                        <div class="item animate" data-animate="fadeInUp">
                            <div class="service-box">
                                <span class="service-icon"><i class="fa fa-cloud"
                                        aria-hidden="true"></i></span>
                                <h3>Sistemas Web</h3>
                                <p>Os sistemas web são desenvolvidos para tornar processos manuais mais simples, rápidos e eficazes.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>