{% load static %}
<div class="section animated-row" data-section="sobre">
    <div class="section-inner">
        <div class="about-section">
            <div class="row justify-content-center">
                <div class="col-lg-8 wide-col-laptop">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-contentbox">
                                <div class="animate" data-animate="fadeInUp">
                                    <span>Sobre</span>
                                    <h2>Quem sou eu?</h2>
                                    <p>Chamo-me Rafael Gomes de Almeida, Bacharel em Tecnologia da Informação, 
                                        atualmente cusando o 8ª periodo. 
                                        Apaixonado por tecnologia e amante da programação, 
                                        ultilizo a linguagem <strong> Python</strong> com os <strong>Frameworks Django </strong> e <strong>Django Rest</strong> 
                                        no back-end no desenvolvimento dos meus projetos e trabalhos. </p>
                                </div>
                                <!-- classificados
                                <div class="facts-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="counter-box">
                                            <i class="fa fa-certificate counter-icon"
                                                aria-hidden="true"></i><span class="count-number">6</span>
                                            Certificados/Cursos
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="counter-box">
                                            <i class="fa fa-file-code-o counter-icon"
                                                aria-hidden="true"></i><span class="count-number">4</span>
                                            Trabalhos/Projetos
                                        </div>
                                    </div>

                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="counter-box">
                                            <i class="fa fa-desktop counter-icon"
                                                aria-hidden="true"></i><span class="count-number">1.5</span>
                                            Anos de Experiência
                                        </div>
                                    </div>
                                    
                                </div> 
                                -->
                            </div>
                        </div>
                        <div class="col-md-5 offset-md-1 ">
                            <figure class="about-img animate" data-animate="fadeInUp"><img
                                    src="{% static 'images/eu.JPG' %}" class="rounded" width="400" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>